@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body, html {
    font-family: "Poppins", sans-serif;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #0f0f0f, #070707);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container h1 {
    margin-bottom: 50px;
    color: #d4d4d4;
    font-size: clamp(4rem, 8vw, 6rem); /* Ajusta el tamaño del título para que sea adaptable */
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones button {
    margin: 10px 0; /* Espacio entre los botones */
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: clamp(1.6rem, 4vw, 2.4rem); /* Ajusta el tamaño del texto de los botones para que sea adaptable */
    padding: 15px 30px; /* Ajusta el espaciado vertical y horizontal de los botones */
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
}

.botones button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.botones button:active {
    box-shadow: none;
    transform: translateY(0);
}
